*{
box-sizing:border-box;
font-family:Arial;
}


body{

margin:0;
background:
linear-gradient(
135deg,
#071426,
#102c54
);

color:white;

min-height:100vh;

}



nav{

display:flex;
justify-content:space-between;
padding:25px;

}


nav a{

color:white;
text-decoration:none;

}



.hero{

text-align:center;

padding:100px 20px;

}



.hero h1{

font-size:60px;

}



.hero p{

font-size:22px;

}



.status{

margin:30px auto;

background:#111827;

padding:20px;

border-radius:15px;

width:400px;

}



.buttons a{

margin:10px;

}



.btn,
button{

background:#2563eb;

padding:15px 30px;

border-radius:10px;

color:white;

border:none;

text-decoration:none;

cursor:pointer;

}



.features{

text-align:center;

padding:50px;

}



.cards{

display:flex;

justify-content:center;

gap:20px;

}



.card{

background:#111827;

padding:25px;

border-radius:20px;

width:250px;

}



.login,
.dashboard{

background:#111827;

padding:40px;

border-radius:20px;

width:400px;

margin:150px auto;

text-align:center;

}



input,
select,
textarea{

width:100%;

padding:15px;

margin:15px 0;

border-radius:10px;

border:none;

}



textarea{

height:250px;

}



footer{

text-align:center;

padding:30px;

}
